ul {
	padding-left: 20px;
}

.root-title {
	font-weight: bold;
}

.root-box, .option-box {
	float: left;
	border: 2px solid black;
	margin-top: 4px;
	margin-left: 4px;
	padding: 4px;
}
.root-box {
	width: 280px;
}

.type-core {
}
.type-elective {
	font-style: italic;
	color: gray;
}
.poc-list {
	font-size: smaller;
	font-weight: normal;
}
.role-link {
	
}

.gift-red {
	background-color: rgb(255, 199, 206);
}
.gift-blue {
    background-color: rgb(221, 235, 247); 
}
.gift-green {
    background-color: rgb(198, 239, 206); 
}

.gift-box {
	padding: 2px;
	font-size: smaller;
	font-weight: normal;
	font-style: normal;
	border: 1px solid black;
	margin: 2px;
	color: rgb(50, 50, 50);
}

.gift-vacancy {
	border: 1px solid red;
	color: red;
}
.gift-filled {
	border: 1px solid gray;
	color: gray;
}
.gift-proposed {
	border: 1px solid rgb(255, 201, 14);
	color: rgb(255, 201, 14);
}
.gift-partially-filled {
	border: 1px solid rgb(100, 200, 125);
	color: rgb(100, 200, 125);
}
